<!DOCTYPE html>
<html>
<title>Film4U</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/film4u.css">

<body>

  <!-- Navbar (sit on top) -->
  <div class="f4u-top">
    <div class="f4u-bar f4u-white f4u-wide f4u-padding f4u-card">
      <a href="#home" class="f4u-bar-item f4u-button"><b>Film4U</b> Enjoy our world</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="f4u-right f4u-hide-small">
        <a href="#types" class="f4u-bar-item f4u-button">Hot</a>
        <a href="#about" class="f4u-bar-item f4u-button">About</a>
        <a href="#contact" class="f4u-bar-item f4u-button">Contact</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="f4u-display-container f4u-content f4u-wide" style="max-width:1500px;" id="home">
    <img class="f4u-image" src="/static/images/" alt="Architecture" width="1500" height="800">
    <div class="f4u-display-middle f4u-margin-top f4u-center">
      <h1 class="f4u-xxlarge f4u-text-white"><span class="f4u-padding f4u-black f4u-opacity-min"><b>BR</b></span> <span
          class="f4u-hide-small f4u-text-light-grey">Architects</span></h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="f4u-content f4u-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="f4u-container f4u-padding-32" id="types">
      <h3 class="f4u-border-bottom f4u-border-light-grey f4u-padding-16">Hot</h3>
    </div>

    <div class="f4u-row-padding">
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <div class="f4u-display-container">
          <div class="f4u-display-topleft f4u-black f4u-padding">Avengers: Endgame</div>
          <img src="/static/images/aendgame.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <div class="f4u-display-container">
          <div class="f4u-display-topleft f4u-black f4u-padding">Game of Thrones</div>
          <img src="/static/images/GoT.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <div class="f4u-display-container">
          <div class="f4u-display-topleft f4u-black f4u-padding">Caption Marvel</div>
          <img src="/static/images/capmarvel.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <div class="f4u-display-container">
          <div class="f4u-display-topleft f4u-black f4u-padding">Aquaman</div>
          <img src="/static/images/aquaman.jpg" alt="House" style="width:100%">
        </div>
      </div>
    </div>

    <!-- About Section -->
    <!-- <div class="f4u-container f4u-padding-32" id="about">
      <h3 class="f4u-border-bottom f4u-border-light-grey f4u-padding-16">About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="f4u-row-padding f4u-grayscale">
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <img src="/static/images/team2.jpg" alt="John" style="width:100%">
        <h3>John Doe</h3>
        <p class="f4u-opacity">CEO & Founder</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="f4u-button f4u-light-grey f4u-block">Contact</button></p>
      </div>
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <img src="/static/images/team1.jpg" alt="Jane" style="width:100%">
        <h3>Jane Doe</h3>
        <p class="f4u-opacity">Architect</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="f4u-button f4u-light-grey f4u-block">Contact</button></p>
      </div>
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <img src="/static/images/team3.jpg" alt="Mike" style="width:100%">
        <h3>Mike Ross</h3>
        <p class="f4u-opacity">Architect</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="f4u-button f4u-light-grey f4u-block">Contact</button></p>
      </div>
      <div class="f4u-col l3 m6 f4u-margin-bottom">
        <img src="/static/images/team4.jpg" alt="Dan" style="width:100%">
        <h3>Dan Star</h3>
        <p class="f4u-opacity">Architect</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="f4u-button f4u-light-grey f4u-block">Contact</button></p>
      </div>
    </div> -->

    <!-- Contact Section -->
    <div class="f4u-container f4u-padding-32" id="contact">
      <h3 class="f4u-border-bottom f4u-border-light-grey f4u-padding-16">Contact</h3>
      <p>Lets get in touch and talk about your next project.</p>
      <form action="/action_page.php" target="_blank">
        <input class="f4u-input f4u-border" type="text" placeholder="Name" required name="Name">
        <input class="f4u-input f4u-section f4u-border" type="text" placeholder="Email" required name="Email">
        <input class="f4u-input f4u-section f4u-border" type="text" placeholder="Subject" required name="Subject">
        <input class="f4u-input f4u-section f4u-border" type="text" placeholder="Comment" required name="Comment">
        <button class="f4u-button f4u-black f4u-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>

    <!-- Image of location/map -->
    <div class="f4u-container">
      <img src="/static/images/map.jpg" class="f4u-image" style="width:100%">
    </div>

    <!-- End page content -->
  </div>


  <!-- Footer -->
  <footer class="f4u-center f4u-black f4u-padding-16">
    <p>Powered by <a href="/" title="Film4U Team" target="_blank"
        class="f4u-hover-text-green">Film4U Team</a></p>
  </footer>

</body>

</html>